.hero {
  width: 100%;
  background-color: #ffffff;
  /* background-image: url("../assets/BG.svg"); */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
#main {
  scroll-behavior: smooth;
}
.hero .main {
  margin: 2rem 0rem;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5rem;
}

/* Hero Left */

.hero .left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .left .content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Left Items */

.hero .left .content h1 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: -0.1rem;
  color: #213053;
  margin-bottom: 1.5rem;
}

.hero .left .content p:nth-child(2) {
  width: 80%;
  display: block;
  font-weight: 400;
  font-size: 0.9rem;
  color: #213053;
  opacity: 0.8;
  margin-bottom: 39px;
}

.hero .left .content .button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  font-size: 14px;
  font-weight: 600;
  background: #ffb12b;
  color: #213053;
  border-radius: 20px;
  padding: 5px 16px;
  box-shadow: 0px 10px 15px rgba(241, 139, 98, 0.301901);
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
}

.hero .left .content p:nth-child(4) {
  font-size: 0.8rem;
  font-weight: 400;
  color: #213053;
  opacity: 0.8;
}

/* Hero Right */
.hero .right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  border: 2px solid #ffb12b;
  padding: 1rem;
  border-radius: 8px;
}
.hero .right .image {
  height: auto;
  width: 100%;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 13px 10px -15px rgba(0, 0, 0, 0.2);
}

/* Popular Categories */

.categories {
  /* background-color: #1988fc; */
  background-color: #ffb12b;
  color: white;
  padding: 4rem 2rem;
}

.categories h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}

.categories .items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 20px;
  color: black;
}

.categories .items .item {
  height: 250px;
  box-sizing: border-box;
  padding: 1.5rem;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.categories .items .item .icon {
  font-size: 2rem;
  color: white;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: rgb(25, 136, 252, 0.7);
}

.items .item h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #213053;
  margin-bottom: 8px;
}

.items .item p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #213053;
  opacity: 0.8;
}

/* Assets */

.assets {
  padding: 3rem 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.assets h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
  color: #213053;
}

.assets .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  box-sizing: border-box;
}

.assets .items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 100%;
}

.assets .items::-webkit-scrollbar {
  display: none;
}

.asset {
  position: relative;
  min-height: 200px;
  box-sizing: border-box;
  border: 1px solid #dfdfdf;
  background-color: white;
  padding: 10px;
  border-radius: 3px;
}

.asset h4 {
  margin: 0px;
  color: #213053;
  font-size: 16px;
  font-weight: bold;
}

.asset h5 {
  margin: 0px;
  font-size: 10px;
  font-weight: normal;
}

.asset .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.asset .devider {
  height: 35px;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
}

.asset .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -25px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 1px solid #dfdfdf;
  background-color: white;
  margin-bottom: 5px;
}

.asset p {
  margin-top: 5px;
  font-size: 11px;
  font-weight: normal;
  word-break: break-all;
  padding-bottom: 5px;
  color: rgb(70, 70, 70);
}

/* Info */

.info {
  background-image: url("../assets/topwave.svg"), url("../assets/infobg.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain, cover;
  overflow: hidden;
  padding-top: 120px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info .left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info .left .image {
  height: 400px;
  width: auto;
}

.info .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info .right .content {
  width: 50%;
  background-color: white;
  padding: 40px;
  border-radius: 50px;
}

.info .right h2 {
  color: #213053;
  font-size: 2rem;
  margin-bottom: 0.9rem;
}

.info .right p {
  width: 90%;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 25px;
  color: #213053;
  opacity: 0.8;
  margin-bottom: 10px;
}

.info .right .button {
  width: fit-content;
  font-size: 0.9rem;
  background: #ffb12b;
  border-radius: 1.2rem;
  padding: 0.9rem 1.2rem;
  color: white;
  box-shadow: 0px 10px 15px rgba(241, 139, 98, 0.301901);
  cursor: pointer;
  margin: 0.8rem 0;
}

/* How it works */

.works h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
  color: #213053;
}

.works {
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.works .items {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.works .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.works .item .content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.works .item .icon {
  height: 200px;
  width: auto;
  margin-bottom: 10px;
}

.works .item p {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #213053;
  text-align: center;
  opacity: 0.8;
}

/* Review */

.review {
  background-image: url("../assets/topwave.svg"), url("../assets/reviewbg.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top;
  background-size: contain, cover;
  overflow: hidden;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review h3 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 15px;
  text-align: center;
  color: #213053;
}

.review p {
  font-weight: 500;
  font-size: 0.9rem;
  color: #213053;
  text-align: center;
  opacity: 0.8;
}

.review .itemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.review .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review .item .content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review .item .image {
  border-radius: 50%;
  margin-bottom: 5px;
}

.review .item p {
  font-weight: 900;
  font-size: 14px;
  text-align: center;
  color: #213053;
  margin: 5px;
}

@media screen and (max-width: 600px) {
  .hero {
    padding-bottom: 3rem;
  }
  .hero .main {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .hero .left,
  .hero .right {
    width: 100%;
  }

  .hero .left .content {
    width: 100%;
    align-items: center;
  }

  .hero .left .content h1 {
    font-size: 2.6rem;
  }

  .categories {
    padding: 2rem 1.5rem;
  }

  .assets .extra_asset {
    display: none;
  }

  .assets .items {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.9rem;
  }

  .info {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 2rem 1.5rem;
  }

  .info .left {
    display: none;
  }

  .info .right .content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .works .items {
    flex-direction: column;
    align-items: center;
  }

  .works .item {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .works .item .content {
    width: 100%;
  }

  .works .item .icon {
    height: 150px;
  }

  .review {
    padding: 2rem 1.5rem;
  }

  .review .itemsContainer {
    flex-direction: column;
    align-items: center;
  }

  .review h3 {
    font-size: 1.8rem;
  }

  .review .item {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .review .item .content {
    width: 100%;
  }
}
