.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-left: 10px;
  overflow: hidden;
}

.container h5 {
  width: fit-content;
  margin: 0px;
  font-size: 12px;
  font-weight: 300;
}

.container h5:not(:last-of-type):after {
  content: "-";
  margin: 0px 3px;
  display: -ms-inline-flexbox;
}
@media (max-width: 768px) {
  .container {
    display: flex;

    flex-direction: row;

    overflow: hidden;
  }
  /* .container h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  } */
}
